.App {
  display: flex;
}

.content {
  margin-left: 0px; /* Espaço para a sidebar */
  padding: 20px;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.logo {
  width: 80px; /* Ajuste o tamanho do logotipo conforme necessário */
  height: auto; /* Mantém a proporção */
}
.header {
  position: absolute;
  right: 10px; /* Ajusta a distância da direita */
}